[submodule "components/dl-keyboard"]
	path = components/dl-keyboard
	url = git@github.com:dolmetsch/components-dl-keyboard.git
[submodule "assets/langpacks/russian"]
	path = assets/langpacks/russian
	url = git@github.com:dolmetsch/langpacks-russian.git
[submodule "assets/langpacks/thai"]
	path = assets/langpacks/thai
	url = git@github.com:dolmetsch/langpacks-thai.git
[submodule "assets/langpacks/hebrew"]
	path = assets/langpacks/hebrew
	url = git@github.com:dolmetsch/langpacks-hebrew
[submodule "assets/georgian"]
	path = assets/langpacks/georgian
	url = git@github.com:dolmetsch/langpacks-georgian
[submodule "assets/armenian"]
	path = assets/langpacks/armenian
	url = git@github.com:dolmetsch/langpacks-armenian
[submodule "assets/greek"]
	path = assets/langpacks/greek
	url = git@github.com:dolmetsch/langpacks-greek
[submodule "assets/langpacks/hindi"]
	path = assets/langpacks/hindi
	url = git@github.com:dolmetsch/langpacks-hindi
[submodule "assets/langpacks/sinhala"]
	path = assets/langpacks/sinhala
	url = git@github.com:dolmetsch/langpacks-sinhala
[submodule "assets/langpacks/tamil"]
	path = assets/langpacks/tamil
	url = git@github.com:dolmetsch/langpacks-tamil
[submodule "assets/langpacks/lao"]
	path = assets/langpacks/lao
	url = git@github.com:dolmetsch/langpacks-lao
[submodule "assets/langpacks/khmer"]
	path = assets/langpacks/khmer
	url = git@github.com:dolmetsch/langpacks-khmer
