direct-colors()
    background-color var(--color-primary-background)
    color var(--color-primary-foreground)

inverse-colors()
    color var(--color-primary-background)
    background-color var(--color-primary-foreground)